<div id="<%=category_section%>" class="section-title section-title--style-1 text-center mb-4 ">
    <h3 class="section-title-inner heading-3 strong-400">
    <span>
        <%=category_section_title.html_safe%>
    </span>
    </h3>
    <span class="section-title-delimiter clearfix"></span>
</div>
<div class="block-body block-post-body">
    <p class="text-justify">
        <%=category_section_intro.html_safe%>
        <% if plot_maps_and_graphs %>
        <div>
            <% case category_section
            when 'driver_section' %>
            <%= render partial: "ozone_driver_map_graph_render" %>
            <%  when 'pressure_section' %>
            <%= render partial: "ozone_pressure_map_graph_render" %>
            <%  when 'state_section' %>
            <%= render partial: "ozone_state_map_graph_render" %>
            <%  when 'impact_section' %>
            <%= render partial: "ozone_impact_map_graph_render" %>
            <%  when 'response_section' %>
            <%= render partial: "ozone_response_map_graph_render" %>
            <% end %>
        </div>
        <% end %>
    </p>
    <br>
    <% if category_datasets.size == 1 %>
    <p class="text-justify mb-2">
        Voici la base de donnée disponible en ligne sur ce sujet :
    </p>
    <br>
    <% elsif category_datasets.size > 1 %>
    <p class="text-justify mb-2">
        Voici les principales bases de données disponibles en ligne sur ce sujet :
    </p>
    <br>
    <% else category_datasets.size == 0 %>
    <% end %>
    <div class="block-body block-post-body">
        <%= render partial: "dataset", collection: category_datasets  %>
    </div>
</div>
<br><br><br>