<div class="container">
  <h3>Database disponible</h3>

<div id="searchengine">
  <%= form_tag(searchs_path, method: :get) do %>
  Find your data : <%= text_field_tag :mySuperParam, params[:mySuperParam] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
</div>
 <br>

<% if params[:mySuperParam] %>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div id="card-8801">
        <% a = 0 %>
         <% l = 0 %>
         
         <% while l < @test.length %>
         <% a = a + 1 %>
         <div class="card">
          <div class="card-header">
             <a class="card-link" data-toggle="collapse" data-parent="#card-8801" href="#card-element-<%= a.to_s %>">
              <%= @test[l]["title"] %> <span class="badge badge-primary">
                <%= @test[l]["resources"].length %> </span></a>
          </div>
          <div id="card-element-<%= a %>" class="collapse">
            <div class="card-body">

              <% b = 0 %>
              <% while b < @test[l]["resources"].length %>
             
              <%= @test[l]["resources"][b]["name"] %>
               <br>
              <% b = b + 1 %>
              <%end%>

            </div>
          </div>
        </div>
        <% l = l + 1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

 <br>
 <br>

