<div class="container">
  <h3>Database disponible</h3>

<div id="searchengine">
  <%= form_tag(searchs_path, method: :get) do %>
  Find your data : <%= text_field_tag :mySuperParam, params[:mySuperParam] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
</div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Type</th>
          
        </tr>
      </thead>
      <tbody>
<% if params[:mySuperParam] %>
    <% l = 0 %>
  <% while l < @test.length %>
        <tr>
          <td><%= l %></td>
          <td><%= @test[l]["title"] %></td>
          <td>CSV, PDF</td>
          
        </tr>
        <% l = l + 1 %>
        <% end %>
<% end %>
      </tbody>
    </table>
  </div>
  <br>
  <br>
