<div class="container">
  <h3>Database disponible</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Type</th>
          
        </tr>
      </thead>
      <tbody>
    <% l = 0 %>
	<% while l < @test.length %>
        <tr>
          <td><%= l %></td>
          <td><%= @test[l]["title"] %></td>
          <td>CSV, PDF</td>
          
        </tr>
        <% l = l + 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <br>

  



  <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div id="card-8801">
        <% a = 0 %>
         <% l = 0 %>
         
         <% while l < @test.length %>
         <% a = a + 1 %>
         <div class="card">
          <div class="card-header">
             <a class="card-link" data-toggle="collapse" data-parent="#card-8801" href="#card-element-<%= a.to_s %>">
              <%= @test[l]["title"] %> <span class="badge badge-info">
                <%= @test[l]["resources"].length %> </span></a>
          </div>
          <div id="card-element-<%= a %>" class="collapse">
            <div class="card-body">

              <% b = 0 %>
              <% while b < @test[l]["resources"].length %>
              <br>
              <%= @test[l]["resources"][b]["name"] %>
              <% b = b + 1 %>
              <%end%>

            </div>
          </div>
        </div>
        <% l = l + 1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>


 <br>
 <br>