<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Open Air est un portail web sur les données et indicateurs de la qualité de l'air en Région Sud. Open Air is a web portal about air quality in the Sud region in France. It features in-depth comprehensive articles based on open database.">
    <meta name="keywords" content="Sud Région, France, Marseille, Aix, Air quality, open data, Lab in the AIR, Atmosud">
    <meta name="author" content="THP-SUD">
    <title>Open Air</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <%= stylesheet_link_tag    'application' %>
    <!-- Favicon -->
    <%= render 'application/favicon' %>
  </head>
  <body data-spy="scroll" data-target="#scroll_data_target" data-offset="50">
    <!-- MAIN WRAPPER -->
    <div class="body-wrap">
      <div id="st-container" class="st-container">
        <div class="st-pusher">
          <div class="st-content">
            <div class="st-content-inner">
              <%= render "layouts/navbar" %>
              <!-- Header -->
              <%= render "topics/topic-index-banner" %>
								<% if controller.class.parents.include?(Admin) %>
              <section class="bg-base-5 slice sct-color-1 col-12">
                <div class="bg-base-5 container col-10">
                  <%= render 'layouts/flash' %>
									<div class="d-flex flex-row col-12">
									<%= render "layouts/admin/side_menu" %>
                  <%= yield %>
									</div>
								<% else %>
              <section class="bg-base-5 slice sct-color-1">
                <div class="bg-base-5 container">
                  <%= render 'layouts/flash' %>
									<%= render 'layouts/sign_in' %>
                  <%= yield %>
								<% end %>
                </div>
              </section>
            </div>
          </div>
        </div><!-- END: st-pusher -->
      </div><!-- END: st-container -->
    </div><!-- END: body-wrap -->
    <a href="#" class="back-to-top btn-back-to-top" style="z-index:2;"></a>
		<br><br><br>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag 'application' %>
	<script type="text/javascript">
		$(document).on('click', '#loginformdisplayer', function my_function() {
			if ( document.getElementById('my_main').classList.value.includes("d-none")){ document.getElementById('my_modal').classList.add("d-none");let element = document.getElementById('my_main'); document.getElementById('loginformdisplayer').innerHTML = 'Se connecter' ; element.classList.remove("d-none");} else{ document.getElementById('my_main').classList.add("d-none"); let element = document.getElementById('my_modal'); document.getElementById('loginformdisplayer').innerHTML = 'Retourner sur le site' ; element.classList.remove("d-none");  }
		});

		$(document).on('click', '#modal_closer', function my_function2() {
      if ( document.getElementById('my_modal').classList.value.includes("d-none")){ document.getElementById('my_main').classList.add("d-none");let element = document.getElementById('my_modal'); element.classList.remove("d-none");} else{ document.getElementById('my_modal').classList.add("d-none"); let element = document.getElementById('my_main'); element.classList.remove("d-none");  }
		});
	</script>
  </body>        
</html>
